<% action = edit ? edit_cat_url(cat) : new_cat_url %>

<form action="<%= action %>" method="post">
    <% if edit %>
        <input type="hidden" name="_method" value="patch">
    <% end %>
    <label>Name
        <input type="text" name="cat[name]" value="<%= cat.name %>">
    </label>
    <label>Birth Date
        <input type="date" name="cat[birth_date]" value="<%= cat.birth_date %>">
    </label>
    <label>Color
        <select name="cat[color]">
            <option disabled <%= cat.color ? "" : "selected" %> >-- Please select --</option>
            <% Cat.COLOR.each do |color| %>
                <option value="<%= color %>" <%= cat.color ? "" : "selected" %> ><%= color %></option>
            <% end %>
        </select>
    </label>
    <label>Male
        <input type="radio" name="cat[sex]" value="<%= cat.sex %>">
    </label>
    <label>Female
        <input type="radio" name="cat[sex]" value="<%= cat.sex %>">
    </label>
    <label>Description
        <textarea name="cat[description]">
            <%= cat.description %>
        </textarea>
    </label>
    <input type="submit" value="<%= edit ? 'Update Cat' : 'Add Cat' %>"
</form>